In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge,LinearRegression
df=pd.read_csv('houses_ridge.csv')
a=df.isnull().sum()
b=df.shape
print(a,"\n",b)

size_m2          0
bedrooms         0
bathrooms        0
distance_city    0
age_years        0
price_k          0
dtype: int64
 (150, 6)

In [2]:
x=df.drop(['price_k'],axis=1)
y=df['price_k']

 
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()
X_train_scaled = standard_scaler.fit_transform(X_train)


ridge_model = Ridge(alpha=1)
ridge_model.fit(X_train, y_train)

y_pred_ridge = ridge_model.predict(X_test)

from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
print("Ridge R2 Score:", r2_score(y_test, y_pred_ridge))
print("Ridge Mean Squared Error:", mean_squared_error(y_test, y_pred_ridge))
print("Ridge Mean Absolute Error:", mean_absolute_error(y_test, y_pred_ridge))

Ridge R2 Score: 0.6525353613595786
Ridge Mean Squared Error: 598.1115913842203
Ridge Mean Absolute Error: 19.37026715128507

In [3]:
from sklearn.metrics import r2_score, mean_squared_error
ols = LinearRegression().fit(X_train, y_train)
ridge = Ridge(alpha=10).fit(X_train, y_train)


results = pd.DataFrame({
    "Feature": x.columns,
    "OLS_Coeff": ols.coef_,
    "Ridge_Coeff": ridge.coef_
})


r2_scores = {
    "OLS Train R²": r2_score(y_train, ols.predict(X_train)),
    "OLS Test R²": r2_score(y_test, ols.predict(X_test)),
    "Ridge Train R²": r2_score(y_train, ridge.predict(X_train)),
    "Ridge Test R²": r2_score(y_test, ridge.predict(X_test)),
}

print("Coefficients:")
print(results)
print("R2 Scores:")
print(r2_scores)

Coefficients:
         Feature  OLS_Coeff  Ridge_Coeff
0        size_m2   0.416011     0.488419
1       bedrooms  10.909967    10.135324
2      bathrooms  16.914801    15.193324
3  distance_city  -0.661248    -0.668920
4      age_years  -0.731700    -0.723475
R2 Scores:
{'OLS Train R²': 0.8479406057743643, 'OLS Test R²': 0.650815820909559, 'Ridge Train R²': 0.84628461011561, 'Ridge Test R²': 0.6647717301739692}

In [4]:
df

     size_m2  bedrooms  bathrooms  distance_city  age_years  price_k
0      110.0         3          3           11.1        1.6    145.8
1      119.0         3          3           15.6       23.8    134.4
2      101.8         3          2           11.7       17.4    117.5
3       83.3         2          1            5.5       21.1     94.7
4       96.4         3          2           11.4        1.0    119.9
..       ...       ...        ...            ...        ...      ...
145     71.7         2          1           18.4       37.8     57.2
146    147.7         4          4           14.4       31.2    189.1
147    105.4         3          2           10.1       25.1    102.1
148    139.0         4          3           14.2       11.2    174.4
149    110.4         3          3            6.0       32.4    116.6

[150 rows x 6 columns]

In [5]:
input={"size_m2":119,"bedrooms":3,"bathrooms":3,"distance_city":15.6,"age_years":23.8}
user_df = pd.DataFrame([input])
pred_price=ridge_model.predict(user_df)[0]
print(pred_price)

135.63001762712665

In [6]:
import pickle
with open('ridge_model.pkl', 'wb') as f:
    pickle.dump(ridge_model, f)

In [7]:
with open('ridge_model.pkl', 'rb') as f:
    loaded_model = pickle.load(f)


y_pred = loaded_model.predict(X_test)
y_pred

array([130.73107622,  69.54614942, 152.18047072,  94.92416989,
       100.83938844,  78.44618211,  98.11277001, 122.31973402,
        85.924043  , 165.9065562 , 190.67316021, 162.17184973,
       173.19158113,  95.51581874,  80.53674654, 122.4184887 ,
        93.20685521, 101.93844207, 171.30215392, 116.43442072,
       141.50280556, 134.85561702,  62.68790263,  80.08423802,
       128.33982661,  59.22955377, 130.90179527, 108.94402336,
        78.2071303 ,  72.26168133])